# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# Build output
dist/
build/

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Uploads (important for your app)
uploads/
